:root:not([data-theme=dark]), [data-theme=light] {
    --primary: #039be5;
    --primary-hover: #0288d1;
}
.center {
    margin: auto;
}
button.right {
    float: right;
    width:10em
}
input.left {
    float: left;
    width:10em
}
